.pageNotFound {
    min-height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageNotFound .innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
}